body {
background: cornsilk;
font-family: Arial, Helvetica, sans-serif;
}
h1 {
color: darkslategrey;
text-align: center;
font: bolder;
}
h2 {
color: goldenrod;
text-align: center;
}
li {
color: darkolivegreen;
text-align: center;
}