body {
background: cornsilk;
font-family: Arial, Helvetica, sans-serif;
}
h1 {
color: darkslategrey;
text-align: center;
font: bolder;
}
.about {
  background-color: cornsilk;
  padding: 20px;
}

.skills {
  background-color: cornsilk;
  font-size: 16px;
}

.projects {
  border-top: 2px solid goldenrod;
  padding: 15px;
}

.contact {
  text-align: left;
  color: darkslategrey;
}